@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR&display=swap');

*{
	margin: 0; 
	padding: 0; 
	border: none; 
	box-sizing: border-box;
}
ol, ul{list-style: none;}
a{text-decoration: none; color:inherit;}
body{
  color: #333;
  font-family: "Noto Sans KR";
  overflow-x :  hidden;
}


/*=============================================================*/

@keyframes iconupdown{
  0%{top: -110%;}
  50%{top: -125%;}
  100%{top: -110%;}
}
@keyframes iconupdown2{
  0%{top: -90%;}
  50%{top: -105%;}
  100%{top: -90%;}
}
@keyframes letterfont{
	0%{font-size: 2.5rem;}
	50%{font-size: 3rem;}
	100%{font-size: 2.5rem;}
}
@keyframes popup {
  0% {
    transform: translateY(0);
    transform-origin: 10% 10%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-10px);
    transform-origin: 10% 10%;
    text-shadow: 0 1px 0 #999, 0 2px 0 #999, 0 3px 0 #999, 0 4px 0 #999, 0 5px 0 #999, 0 6px 0 #999, 0 7px 0 #999, 0 8px 0 #999, 0 9px 0 #999, 0 20px 30px rgba(0, 0, 0, 0.5);
  }
}
@keyframes zoom{
  0%{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
  }
  100%{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes zoomout{
  0%{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100%{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
  }
}

/*=============================================================*/

hr{
  width: 100%;
  border: 1px solid #eee;
}
.in{
  border: none;
  width: 100%;
  height: 1.5px;
  border-radius: 50%;
  background-color: #0a6496;
}
button{
  background-color: transparent;
  border: 1px solid #d8e7ec;
  border-radius: 0.5rem;
}

#wrap{
  width: 100vw;
}
/*=============================================================*/

#sidebar{
  position: fixed;
  width: 20rem;
  height: 100vh;
  padding: 4rem;
  background-color: #eeffff;
}
#sidebar .logo img{
  width: 10rem;
  height: auto;
  position:absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

/*=============================================================*/

#navi ul{
  width: 12rem; 
  text-align: right;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#navi ul li{
  width: 100%;
  line-height: 3rem;
  position: relative;

}
#navi ul li::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #EBEFF2;
}
#navi a{
  display: block;
  color: rgb(124, 176, 255);
  position: relative;
}
#navi ul li a:hover{
  font-weight: bold;
}
#navi ul li a::after{
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  background: linear-gradient(90deg,#EBEFF2, rgb(124, 176, 255) 100%);
}
#navi ul li a:hover::after{
  width: 100%;
  opacity: 1;
}

#navi ul li.on{
  font-weight: bold;
}
#navi ul li.on a:after{
  width: 100%;
  opacity: 1;
  transition: all 0.5s;
}

#toggle{
	transition: all 0.2s ease-in-out;
  width: 1.5rem;
  height: 1.5rem;
	position: fixed;
	top: 0;
	right: 1rem;
	border: 0;
	color: rgb(124, 176, 255);
	font-size: 1.5rem;
	padding: 0.3rem 0.5rem;
	cursor: pointer;
	display: none;
	z-index: 10;
}
#toggle:hover{
	color: rgba(121, 183, 255, 0.5);
}

/*=============================================================*/

.icon > ul{
  width: 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 80%;
}
.icon li{
  position: relative;
}
.icon li img{
  transition: all linear 0.2s;
  filter: brightness(0) invert(0.3) opacity(0.3) drop-shadow(0 0 0 black);
}
.icon li img:hover{
  filter: none;
}

.icon p{
  position: absolute;
  left: 50%;
  top: -110%;
  transform: translateX(-50%);  
  text-align: center;
  padding: 0 1rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(121, 183, 255, 0.5);
  font-weight: bold;
  display: none;
  font-family: 'Jua';
}

.icon li:first-child p{
  top: -90%
}

.icon p::after{
  content: '';
  position: absolute;
  border-top: 0.5rem solid rgba(121, 183, 255, 0.5);
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0 solid transparent;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
.icon li:nth-child(2):hover p,
.icon li:nth-child(3):hover p{
  animation: iconupdown 0.3s;
  transition: all 0.3s ease-in-out;
  display: block;
}
.icon li:first-child:hover p{
  animation: iconupdown2 0.3s;
  transition: all 0.3s ease-in-out;
  display: block;
}


/*=============================================================*/

.license{
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3%;
  font-size: 0.6rem;
  color: #999;
  text-align: center;
}

/*=============================================================*/

#container{
  margin-left: 20rem;
}
#container section{
  padding: 6rem;
  -ms-overflow-style: none;
}
#container section::-webkit-scrollbar { 
  display: none;
  width: 0 !important;
}
/*=============================================================*/

#intro{
  width: 100%;
  height: 100vh;
	background: linear-gradient(180deg, #74b2fa46, rgba(255, 255, 255, 0.6) 100%),url("../img/backimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: 'Jua';
  text-align: left;
}
#intro div{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
#intro h1{
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
  animation: popup 1s;
  transform: translateY(-10px);
  transform-origin: 10% 10%;
  text-shadow: 0 1px 0 #999, 0 2px 0 #999, 0 3px 0 #999, 0 4px 0 #999, 0 5px 0 #999, 0 6px 0 #999, 0 7px 0 #999, 0 8px 0 #999, 0 9px 0 #999, 0 20px 30px rgba(0, 0, 0, 0.5);
}

#intro .introTxt{
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  color: #636B73;
  font-weight: bold;
  float: left;
  position: relative;
}



#intro #cursor{
  position: absolute;
  bottom: 0;
  color: #636B73;
  width: 3px;
  font-size: 1.7rem;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

/*=============================================================*/

#about{
  height: 100vh;
  position: relative;
}
#about h2{
  margin-bottom: 1rem;
}
#about .box{
  width: 100%;
  padding: 0 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#about article{
  padding-top: 1rem;
  margin: auto;
  display: flex;
  flex-direction: row;
}
#about article > div{
  width: 50%;
}
#about article > #introduce{
  margin: auto 2rem auto 0;  
  line-height: 2rem;
  transition: all 0.5s ease-in-out;
  position: relative;
  left: -50%;
  visibility: hidden;
  opacity: 0;
}
#introduce.rgt{
  left: 0 !important;
  visibility: visible !important;
  opacity: 1 !important;
}

#skill div{
  width: 100%;
}

#skill h4{
  font-size: 1.2rem;
  text-align: center;
  margin: auto auto 2rem auto;
}
#skill li{
  width: 33%;
  height: 33%;
  float: left;
  transition: all 0.5s ease-in-out;
  transform: rotateY(-90deg);
  visibility: hidden;
  text-align: center;
}

#skill li.rot,#skill p.rot{
  transform: rotateY(0deg);
  visibility: visible;
}
#skill li img{
  width: 100%;
  height: 100%;
  padding: 1rem;
  opacity: 0.8;
}


#skill > p{
  width: 100%;
  margin-top: 1rem;
  line-height: 1.6rem;
  text-align: center;
  font-size: 0.8rem;
  color: #999;
  transition: all 0.5s ease-in-out;
  transform: rotateY(-90deg);
  visibility: hidden;
}
#skill b{color: rgb(219, 39, 39);}

/*=============================================================*/

#portfolio{
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 3rem!important;
}
#portfolio ul{
  position: absolute;
  top: 100%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 34em;
  height: 17em;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
#portfolio ul.mov{
  opacity: 1;
  visibility: visible;
  top: 45%;
}
#portfolio ul li{
  position: absolute;
  width: 11em;
  height: 11em;
  transform: rotate(45deg);
  transition: all 0.5s;
  background-color: #000;
  overflow: hidden;
  cursor: pointer;
}

#portfolio ul li dl{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  font-size: 1.2rem;
  transform: translate(-50%, -50%) rotate(-45deg);
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: all 0.5s;
  opacity: 0;
  text-shadow: 0px 0px 3px #000;
}

#portfolio ul li dt{
  margin-bottom: 1em;
}

#portfolio ul li:hover{
  box-shadow: 0.3rem 0.3rem 0.3rem #111;
}
#portfolio ul li:hover dl{
  opacity: 1;
}
#portfolio ul li:hover .bg{
  opacity: 0.7;
}

#portfolio ul li:nth-child(1):hover,
#portfolio ul li:nth-child(2):hover,
#portfolio ul li:nth-child(3):hover{
  top: -3%;
}
#portfolio ul li:nth-child(4):hover,
#portfolio ul li:nth-child(5):hover{
  top: 47%;
}
#portfolio ul li:nth-child(6):hover,
#portfolio ul li:nth-child(7):hover,
#portfolio ul li:nth-child(8):hover{
  top: 97%;
}

li.item1 {
  top: 0;
  left: 0;
}
li.item2 {
  top: 0;
  left: 50%;
}
li.item3 {
  top: 0;
  left: 100%;
}
li.item4 {
  top: 50%;
  left: 25%;
}
li.item5 {
  top: 50%;
  left: 75%;
}
li.item6 {
  top: 100%;
  left: 0;
}
li.item7 {
  top: 100%;
  left: 50%;
}
li.item8 {
  top: 100%;
  left: 100%;
}


.bg{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    transform: rotate(-45deg) scale(1.42);
}

.b1{
  background: url(../img/thumbnail/portfilio.jpg); 
  background-size: cover;
  background-color: #d5f8fa;
}
.b2{
  background: url(../img/thumbnail/incoffee.jpg); 
  background-size: cover;
  background-color: #eee2ca;
}
.b3{
  background: url(../img/thumbnail/tinnyocean.jpg); 
  background-size: cover;
  background-color: #ccdaff;
}
.b4{
  background: url(../img/thumbnail/minishopping.jpg); 
  background-size: cover;
  background-color: #f5dad1;
}
.b5{
  background: url(../img/thumbnail/none.jpg); 
  background-size: cover;
  background-color: #f1f1f1;
}
.b6{
  background: url(../img/thumbnail/clock.jpg); 
  background-size: cover;
  background-color: #e4e4e4;
}
.b7{
  background: url(../img/thumbnail/exchange.jpg); 
  background-size: cover;
  background-color: #fff7c0;
}
.b8{
  background: url(../img/thumbnail/blockgame.jpg); 
  background-size: cover;
  background-color: #dbfcf3;
}

/*=============================================================*/


#qna hr, #portfolio hr{
  margin: 1rem 0 2rem 0;
} 

.question{
  background-color: #84c7dd;
  width: 100%;
  line-height: 3rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 1.2rem;
  text-align: left;
  text-indent: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
  opacity: 0;
}
.question.vis{
  opacity: 1;
}
.question:hover{
  background-color: #d8e7ec;
}
.question::after{
  content: '\02C5';
  float: right;
  font-size: 2rem;
  padding-right: 2rem;
  color: #666;
}
.active::after{
  content: '\02C4';
}
.answer{
  width: 95%;
  height: auto;
  margin: auto;
  overflow: hidden;
  white-space: normal;
  opacity: 0;
  white-space: pre-line;
}
.answer.vis{
  opacity: 1;
}


/*=============================================================*/

#contact{
  padding: 0 6rem !important;
  position: relative;
  height: 16rem;
}
#contact > div{
  width: 33.3%;
  height: 14rem;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact div:first-child p{
  margin: 1rem;
}

#contact .icon{
  position: absolute;
  bottom: 10%;
  width: 10rem;
  display: flex;
  justify-content: space-between;
  display: none;
}
#contact .icon p{
  top: -100%;
}
#contact .icon p::after{
  top: 100%;
}

.btn{
  width: 100%;
  height: 14rem;
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #fff;
  font-family: 'Jua';
  text-align: center;
  cursor: pointer;
  position: relative;
}
.btn a{
  width: 100%;
  height: 100%;
}
.letter{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: rotateY(90deg);
  transition: all 0.3s ease-in-out;
}
.letter div{
  width: 100%;
  height: 100%;
  background-image: url(../img/contectletter.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: -3px 0 rgb(124, 176, 255), 0 3px rgb(124, 176, 255), 3px 0 rgb(124, 176, 255), 0 -3px rgb(124, 176, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn span{
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a9d6e5;
}
.btn:hover .letter{
  transform: rotateY(0);
  animation: letterfont 0.5s;
  animation-delay: 0.3s;
}
.btn:hover span{
  transform: rotateY(90deg);
}


.info li{
  line-height: 2rem;
  vertical-align: middle;
}
.info b{
  filter :brightness(0) invert(0.3);
  font-size: 1.4rem;
}

/*=============================================================*/

footer{
  width: 100%;
  line-height: 4rem;
  background-color: #d4f1f2;
  text-align: center;
  color: #999;
  padding-left: 20rem;
  display: inline-block;
}

/*=============================================================*/

#detail-modal{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  
}
.modal-content{
  background-color: #fefefe;
  width: 80%;
  height: auto;
  max-height: 80%;
  padding: 4rem;
  border: 1px solid #888;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  animation: zoom 0.6s;
  
}
.modal-content::-webkit-scrollbar{
  display:none;
}
.modal-content hr{
  width: 100%;
  height: 2px;
  background: #0a6496;
  margin-bottom: 1rem;
  border: none;
}
.part{
  width: 50%;
  padding: 1rem;
  float: left;
}
.detail-image a img{
  width: 100%;
  cursor: pointer;
}
.detail-text p{
  margin-bottom: 1rem;
}
.detail-text li{
  display: none;
}

.modal-content div span{
  display: block;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  color: #999;
  margin-top: 2rem;
}

.close{
  color: #aaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.close:hover{color: #0a6496;}

